<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Enigmas</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Desafios</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Carrossel -->
<div id="carousel" class="carousel slide mt-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://placehold.co/1200x400/000000/FFF?text=Enigma+1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://placehold.co/1200x400/111111/FFF?text=Enigma+2" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://placehold.co/1200x400/222222/FFF?text=Enigma+3" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<!-- Accordion -->
<div class="container mt-4">
  <div class="accordion" id="enigmaAccordion">
    <div class="accordion-item bg-dark text-white">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
          Enigma 1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          O que tem dentes mas não morde?
        </div>
      </div>
    </div>

    <div class="accordion-item bg-dark text-white">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
          Enigma 2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          Quanto mais você tira, maior ele fica. O que é?
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 3 Boxes lado a lado -->
<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-4 mb-3">
      <div class="p-4 bg-dark text-white rounded">
        <h4>Desafios Diários</h4>
        <p>Enigmas novos todos os dias para desafiar sua mente.</p>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="p-4 bg-dark text-white rounded">
        <h4>Ranking</h4>
        <p>Veja quem resolveu mais enigmas no nosso top 10.</p>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="p-4 bg-dark text-white rounded">
        <h4>Comunidade</h4>
        <p>Interaja com outros usuários e compartilhe teorias.</p>
      </div>
    </div>
  </div>
</div>
